/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: Iosevka;
}


/** Generic window ***********************************/
.genwin {
	background-color: #2E3440;
	border-radius: 16px;
}

/** Profile ******************************************/
.face {
	background-size: 200px;
	min-height: 185px;
	min-width: 185px;
	margin: 20px 0px 0px 0px;
	border-radius: 100%;
}

.fullname {
	color: #D46389;
	font-size : 20px;
	font-weight : bold;
	margin: -10px 0px 0px 0px;
}

.username {
	color: #8FBCBB;
	font-size : 20px;
	font-weight : bold;
	margin : -20px 0px 10px 0px;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 32px;
	font-weight : normal;
}
.iconcpu {
	color: #BF616A;
}
.iconmem {
	color: #A3BE8C;
}
.iconbright {
	color: #EBCB8B;
}
.iconbat {
	color: #88C0D0;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 16px;
	min-height: 28px;
	min-width: 150px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: #BF616A;
}
.mem_bar scale trough highlight {
	background-color: #A3BE8C;
}
.bright_bar scale trough highlight {
	background-color: #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color: #88C0D0;
}



/** Clock ********************************************/
// not
.time_hour, .time_min {
	color: #81A1C1;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: #A3BE8C;
	font-size : 40px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}

.time_day {
	color: #EBCB8B;
	font-size : 30px;
	font-weight : normal;
	margin : 0px 0px 20px -20px;
}



/** Uptime ********************************************/
.icontimer {
	color: #B48EAD;
	font-size : 90px;
	font-weight : normal;
	margin:  0px 20px 0px 0px;
}

.uphour {
	color: #E5E9F0;
	font-size : 42px;
	font-weight : bold;
}

.upmin {
	color: #E5E9F0;
	font-size : 32px;
	font-weight : bold;
}


/** Music ***************************************/
.album_art {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 150px;
	min-width: 150px;
	margin: 15px;
	border-radius: 14px;
}

.song {
	font-size: 20px;
	margin: 20px 0px 0px 0px;
}

.artist {
	font-size: 14px;
	margin: 0px 0px 10px 0px;
}

.btn_prev, .btn_play, .btn_next {
	font-family: Iosevka Nerd Font;
}
.btn_prev {
	color: #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color: #A3BE8C;
	font-size : 48px;
	font-weight : bold;
}
.btn_next {
	color: #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: #B48EAD;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 8px;
	min-height: 14px;
	min-width: 180px;
	margin : 5px 0px 0px 0px;
}



/** Applications ***************************************/
.appbox {
	margin : 10px 0px 0px 25px;
}

.app_fox, .app_bitwarden, .app_kate, .app_terminal,
.app_files, .app_krita, .app_code, .app_steam {
	background-repeat: no-repeat;
	background-size: 50px;
	min-height: 50px;
	min-width: 50px;
	margin: 6px;
}


.app_fox {}
.app_bitwarden {}
.app_kate {}
.app_terminal {}
.app_files {}
.app_krita {}
.app_code {}
.app_steam {}


/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 40px;
	font-weight : bold;
}
.btn_reboot, .btn_poweroff{
	margin : 0px 0px 0px -12px;
}

.btn_logout {
	color: #BF616A;
}
.btn_sleep {
	color: #A3BE8C;
}
.btn_reboot {
	color: #EBCB8B;
}
.btn_poweroff {
	color: #88C0D0;
}

/** Home folders ***************************************/
.hddbox {
	background-color: #3A404C;
	border-radius: 10px;
	margin : 10px;
	padding: 0px;
}

.hddicon {
	color: #81A1C1;
	font-family: Iosevka Nerd Font;
	font-size : 40px;
	margin : 10px 10px 10px 25px;
}

.hdd_label {
	color: #E5E9F0;
	font-size : 20px;
	font-weight : bold;
	margin : 0px 0px 0px 8px;
}

.fs_sep {
	color: #2E3440;
	font-size : 18px;
	font-weight : bold;
}

.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-family: Iosevka Nerd Font;
	font-size : 25px;
	font-weight : normal;
	margin : 0px 10px 5px 30px;
}
.iconfolder1 {
	color: #BF616A;
}
.iconfolder2 {
	color: #A3BE8C;
}
.iconfolder3 {
	color: #EBCB8B;
}
.iconfolder4 {
	color: #81A1C1;
}
.iconfolder5 {
	color: #B48EAD;
}
.iconfolder6 {
	color: #88C0D0;
}

.label_folder1, .label_folder2, .label_folder3,
.label_folder4, .label_folder5, .label_folder6 {
	font-size : 16px;
	margin : 4px 0px 4px 10px;
}
.label_folder1 {
	color: #BF616A;
}
.label_folder2 {
	color: #A3BE8C;
}
.label_folder3 {
	color: #EBCB8B;
}
.label_folder4 {
	color: #81A1C1;
}
.label_folder5 {
	color: #B48EAD;
}
.label_folder6 {
	color: #88C0D0;
}

/** EOF *************************************************/
